env
.env
db.sqlite3
migrations/ */migrations/*
*.os
.python
*.log
*pot
*.pyc
*.pyo
__pycache__/
*.swp
*.swo
*.tmp
.cache/
db.sqlite3-journal
pip-selfcheck.json
Pipfile
**/migrations/
*.os
venv/
env/
.venv/
.env/

media/
static/
local_settings.py

.vscode/
.idea/
.pycproject
.project

*.bak
*.backup
homeinfo_app/migrations/
authentiation_app/migrations/

E-freelancingRootSite/homeinfo_app/migrations/
E-freelancingRootSite/authentiation_app/migrations/
root_project/migrations/
E-freelancingRootSite/root_project/migrations/


homeinfo_app/__pycache__/
authentiation_app/__pycache__/
E-freelancingRootSite/homeinfo_app/__pycache__/
E-freelancingRootSite/authentiation_app/__pycache__/
root_project/__pycache__/
E-freelancingRootSite/root_project/__pycache__/

/staticfiles/
/node_modules/

*.mo